@model PersonalSite_MVC.Models.ContactViewModel
@{
    ViewData["Title"] = "Contact";
}

<main id="main" class="mt-4">
<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Contact **under construction**</h2>
            <p>This is where you can submit a message to me via E-mail. Note this doesnt have functionality quite yet.</p>
        </div>

        <div class="row">
            <div class="col-lg-12 mt-5 mt-lg-0 d-flex align-items-stretch">
                <form asp-action="Contact" class="php-email-form">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="name">Your Name</label> <!--replace lables with placeholder=""-->
                            <input asp-for="Name" class="form-control">
                                <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-group col-md-6">
                            <label for="name">Your Email</label>
                            <input asp-for="Email" class="form-control">
                                <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="name">Subject</label>
                        <input asp-for="Subject" class="form-control">
                            <span asp-validation-for="Subject" class="text-danger"></span>

                    </div>
                    <div class="form-group">
                        <label for="name">Message</label>
                        <textarea asp-for="Message" class="form-control" rows="10" ></textarea>
                            <span asp-validation-for="Message" class="text-danger"></span>
                    </div>
                        <div class="form-group mt-4 text-center">
                            <input type="submit" value="Send Message" class="btn btn-primary" />
                        </div>
                </form>
            </div>

        </div>

    </div>
</section><!-- End Contact Section -->
</main>

@section Scripts {
    <!-- jQuery Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}